{% extends 'base.html' %}
{% block head %}
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css\webLogin.css' %}" />
      <title>home</title>
{% endblock %}

{% block body %}
<div class="login" data-admin-utc-offset="0" >
    <div class="login-box">
      <div class="login-top"> &nbsp; </div>
      <div class="login-head">
          <h1>Login</h1>
      </div>
      <div class="login-form">
          <form action="" method="post" id="login-form">
            {% csrf_token %}
            <div class="form-row">
              <label class="required" for="id_username">&nbsp; User:</label>
              <input type="text" name="username" autofocus maxlength="25" required id="id_username" />
            </div>
            <div class="form-row">
              <label class="required" for="id_password">&nbsp; Password:</label>
              <input type="password"  name="password" required id="id_password" />
              <input type="hidden"    name="next" value="/admin/" />
            </div>
            <div class="submit-row" >
              <input type="submit" value="Log in" />
            </div>
          </form>
      </div>
    </div>
</div>
{% endblock %}
