{% extends 'base.html' %}
{% load static %}
<!-- {% csrf_token %} -->

{% block head %}
{% load static %}
  <link   rel="stylesheet" type="text/css" href="{% static 'css\advisor.css' %}" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/advisor.js' %}" ></script>
  <title>Advisor Information</title>
{% endblock %}

{% block body %}
<div class="container">
  <div  class="search-bar" >
    <table width="500px">
      <tr>
      <td>
        <form  method="POST" class="search" >
          {% csrf_token %}
          <input type="text" name = "Search" placeholder="Search ... " >
          <button type="submit" name="search_advisor"  value='S' >
            <img  src="{% static 'image/search.png' %}" height="12" width="12" />
          </button>
        </form>
      </td>
      </tr>
      </table>
  </div>
  <div  class="advisor-list" >
    <table class="Hoverable" >
      <tr>
        <thead>
        <th style="width: 200px;"><b> {{ dispHead.0 }} </b></th>
        <th style="width: 200px;"><b> {{ dispHead.1 }} </b></th>
        <th style="width: 100px;"><b> {{ dispHead.2 }} </b></th>
        </thead>
      </tr>
    </table>
    <div style="height: 500px; overflow-y:scroll; width:580px">
    <table class="Hoverable"  >
      <tbody>
      {% for index, row in dfTable.iterrows %}
        <tr data-href="{{row.advisor}}" >
        <td style="width: 200px; text-align: left;">   {{ row.lastName }}  </td>
        <td style="width: 200px; text-align: left;">   {{ row.firstName }} </td>
        <td style="width: 100px; text-align: center;"> {{ row.advisor }}   </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  <div  class="advisor-detail" >
    <form method="post" novalidate><!-- {% csrf_token %} -->
      <table>
        <tr>
          <td width="30" align="right"><b>Advisor Code: </b></td>
          <td width="30"> {{ repForm.advisorCode }} </td>
        </tr>
        <tr>
          <th>First Name </th>
          <th>Last Name </th>
        </tr>
        <tr>
          <td> {{ repForm.firstName}} </td>
          <td> {{ repForm.lastName}} </td>
        </tr>
        <tr>
          <th>Branch Code</th>
          <th>Language</th>
        </tr>
        <tr>
          <td> {{ repForm.BranchCode}} </td>
          <td> {{ repForm.LangCode}} </td>
        </tr>
        <tr>
          <th colspan="2">Email Address</th>
        </tr>
        <tr>
          <td colspan="2" width="60"> {{ repForm.eMail }} </td>
        </tr>
      </table>
      <br>
      {% csrf_token %}
      <button name="update_advisor" value='U' class="{{ btnState.uBtn }}" >Update</button>
      <button name="delete_advisor" value='D' class="{{ btnState.dBtn }}" >Delete</button>
      <button name="new_advisor"    value='N' >New</button>
      <button name="save_advisor"   value='C' class="{{ btnState.sBtn }}" >Save</button>
      <button name="cancel_advisor" value='N' class="{{ btnState.cBtn }}" >Cancel</button>
    </form>
  </div>
  <form name="detail_advisor" action="" method="post">{% csrf_token %}
    <input type='hidden' id='dtlForm' name='advisorCode' value=''>
  </form>
</div>

{% endblock %}
