{% extends 'base.html' %}
{% load static %}
<!-- {% csrf_token %} -->

{% block head %}
{% load static %}
  <link   rel="stylesheet" type="text/css" href="{% static 'css\advisor.css' %}" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/demographic.js' %}" ></script>
  <title>Advisor demographic</title>
{% endblock %}

{% block body %}
  <br/>

  <div  class="advisor-detail" >
    <form method="post" novalidate><!-- {% csrf_token %} -->
      <table>
        <tr>
          <td width="30" align="right"><b>Advisor Code: </b></td>
          <td width="30"> {{ demoForm.advisorCode }} </td>
        </tr>
        <tr>
          <th>Gender</th>
          <th>Birth Date</th>
        </tr>
        <tr>
          <td> {{ demoForm.gender}} </td>
          <td> {{ demoForm.birthDate}}   </td>
        </tr>
        <tr>
          <th colspan="2">Licenses</th>
        </tr>
        <tr>
          <td colspan="2" width="60"> {{ demoForm.licenses }} </td>
        </tr>
      </table>
      <br>
      {% csrf_token %}
      <button name="update_demographic" value='U' class="{{ btnState.uBtn }}" >Update</button>
      <button name="cancel_demographic" value='N' class="{{ btnState.cBtn }}" >Cancel</button>
    </form>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
{% endblock %}
