/*****************************************************************/
.container {
  display: grid;
  grid-template-columns: 600px, auto;
  grid-template-rows: 45px , 600px ;
  grid-gap: 1px ;
  grid-template-areas:
    "srch .   "
    "list detl" ;
  }

.search-bar {
  grid-area: srch ;
  /* background-color: cyan ; */
}

.advisor-list {
  grid-area: list ;
  width: 600px ;
  background-color: pink ;
  padding-left: 2px ;
}

.advisor-detail {
  grid-area: detl ;
  width: 100% ;
  padding-right: : 1px ;
  background-color: blue ;
}
